/*@media screen and (min-width: 320px) {
    html {
        font-size: 50px;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 56px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 63px;
    }
}

@media screen and (min-width: 440px) {
    html {
        font-size: 69px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 75px;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 100px;
    }
}*/
html{
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    overflow: hidden;
}
header {
    width: 100%;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.36rem;
    background: #2c2b2e;
    color: #fff;
    position: absolute;
    top:0;
    left:0;
    z-index: 111;
}
header span{
    position: absolute;
    left:0.46rem;
    top:0;
    font-size: 0.3rem;
}
header span:before{
    position: absolute;
    left:-0.2rem;
    top:0.25rem;
    content: "";
    display: block;
    width: 0.2rem;
    height:0.2rem;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    -webkit-transform:rotate(-45deg);
}

header ul {
    position: absolute;
    right:.3rem;
    top:.3rem;
    width: 0.7rem;
    height: 0.26rem;
}
header ul li{
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 50%;
    float:left;;
    margin: 0 0.02rem;
    background: #fff;
}
.main{
    width: 100%;
    height: 4.36rem;
    background: url(images/banner.png) no-repeat;
    background-size: cover;
    position: relative;
}
.score {
    width: 100%;
    display: flex;
    flex-flow:row nowrap ;
    justify-content : center;
    align-items:center;
    align-content: center;
    padding: 0.8rem 0 0 0;
    height: 0.88rem;
}
.score p{
    display: inline-block;
    vertical-align: top;
}
.score p img {
  width: 100%;
    height: 100%;
}
.score p:nth-of-type(1),.score p:nth-of-type(3){
    width: 0.84rem;
    height: 0.84rem;
    line-height:0 ;
}
.score p:nth-of-type(2){
    font-size: 0.6rem;
    color: #fff;
    padding:  0 0.3rem;
}
.number{
    border-top:1px solid #fff;
    height: 0.7rem;
    line-height: 0.7rem;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}
.number p{
    width: 50%;
    box-sizing: border-box;
    position: relative;
    float: left;
    font-size: 0.3rem;
    color: #fff;
}
.number p span {
    display: block;
    width: 0.3rem;
    height: 0.4rem;
    position: absolute;
    top: 0.1rem;
}
.number p:nth-of-type(1){
    padding-left: 0.9rem;
    text-align: left;
}
.number p:nth-of-type(2){
    padding-right: 0.9rem;
    text-align: right;
}
.number p:nth-of-type(1) span{
    left:0.3rem
}
.number p:nth-of-type(2) span{
    right:0.3rem
}
.number p span img{
    max-width: 100%;
}
.scoreNumber{
    padding-top: 0.26rem;
    margin: 0 0.2rem;
    box-sizing: border-box;
}
.scoreNumber h3,.scoreNumber ul{
    font-size: 0.28rem;
    font-weight: bold;
}
.scoreNumber ul{
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    flex-flow:row nowrap ;
    justify-content: space-around;
    padding: 0.15rem 0;
}
.scoreNumber dl{
    margin-top: 0.1rem;
    overflow: hidden;
}
.scoreNumber dt{
    float: left;
    width: 1.5rem;
    height: 1.2rem;
    margin-right: 0.1rem;
}
.scoreNumber dt img{
    max-width: 100%;
}
.scoreNumber dl dd{
    font-size: 0.3rem;
    padding-bottom: 0.05rem;
}
footer{
    width: 100%;
    text-align: center;
    height: 1.28rem;
    line-height: 1.28rem;
    background: #fff;
    position: absolute;
    bottom:0;
    left:0;
    font-size: 0.5rem;

}
.content{
    position: absolute;
    top:0.8rem;
    bottom:1.28rem;
    left:0;
    right:0;
    overflow: auto;

}
